body {
    color: #fff;
    background: #17181c;
    font: 300 1em 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}
.custom-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px 5px;
    margin: 10px 0;
    transition: border-bottom 0.3s;
    -webkit-text-fill-color: white;
}

    .custom-input:focus {
        outline: none;
        border-bottom: 2px solid white;
        color: white;
    }

    .custom-input::placeholder {
        color: white;
        opacity: 0.6;
    }

    .custom-input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        -webkit-text-fill-color: white;

    }



button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover, button:focus {
        border-color: var(--hover);
        color: #fff;
        background-color: var(--hover);
    }

.ov-btn-grow-primary {
    background: #551d66b7;
    color: #fff;
    border: 2px solid #551d66b7;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

    .ov-btn-grow-primary:hover {
        color: #fff;
    }

    .ov-btn-grow-primary::after {
        content: "";
        background: #551d66;
        position: absolute;
        z-index: -1;
        left: -50%;
        right: -50%;
        top: -50%;
        bottom: -50%;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }

    .ov-btn-grow-primary:hover::after {
        transform: skewX(-45deg) scale(1, 1);
    }

.pulse {
    --color: #551d66;
    --hover: #551d66b7;
}

    .pulse:hover,
    .pulse:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    }

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.gradiente {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(45deg, #000, #323232);
    animation: cambiarColor 10s linear infinite;
}

@keyframes cambiarColor {
    0%, 100% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }
}

._fondo:before,
._fondo:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5, #ff004c, #e6036d, #fb0094, #ff6600, #04c2e4, #adad02, #00c3ff);
    background-size: 300%;
    z-index: -1;
    animation: _fondogradiente 15s ease infinite;
    border-radius: 40px;
}

@keyframes _fondogradiente {
    0% {
        background-position: 0% 200%;
    }

    50% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 330%;
    }
}

._fondo:after {
    filter: blur(15px);
}

.gradient-border {
    border: 6px solid transparent;
    border-radius: 50px;
    animation: gradientAnimation 5s infinite alternate;
    border-image: linear-gradient(to right, black 0%, #2e0854 20%, #641e80 40%, #b53f9d 60%, black 80%, black 100%);
    border-image-slice: 1;
}

@keyframes gradientAnimation {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: transparent;
    }
}

.offset {
    --color: #19bc8b;
    --hover: #1973bc;
}

h1 {
    font-weight: 400;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

.badge-custom {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    padding: 6px 9px;
    font-size: 11px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.gradiente-white {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(45deg, #fff, #eee);
    animation: cambiarColor 10s linear infinite;
    border-radius: 10px;
}
